@import url('https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css');

img {
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px; 
}

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

ul, ol { 
    list-style: none; 
}

.link, .menu-link { 
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0; 
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.list {
    list-style-type: none;
    text-decoration: none;
}

.address {
    font-style: normal;
}

.link:hover, .menu-link:hover {
    color: #404bbf;
}
.link:focus, .menu-link:focus {
    color: #404bbf;
}

.link:active, .menu-link:active {
    text-decoration: underline;
    color: #404bbf;
}

.section-one {
    background: #2e2f42;
    padding: 188px 0; 
}

.head {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px; 
}

.button-class {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block; 
    min-width: 169px; 
    height: 56px; 
    border: none; 
    background-color: var(--button-bg-color, #4d5ae5); 
    border-radius: 4px; 
}
    
.button-class:hover,
.button-class:focus {
    background-color: #404BBF;
}

.section-second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.section-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;  
}

.section-third {
    padding: 120px 0; 
}

.teatle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px; 
}

.team-list { 
    display: flex; 
    gap: 24px; 
}

.team-item { 
    flex-basis: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px; 
}

.team-content { 
    padding: 32px 16px 32px 16px; 
}

.team-title { 
    text-align: center; 
    margin-bottom: 8px; 
}

.team-role { 
    text-align: center; 
}

.contact-list { 
    display: flex; 
    gap: 40px; 
}

.section-two {
    padding: 120px 0; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.features-list {
    display: flex; 
    gap: 24px; 
}

.feature-item {
    flex-basis: calc((100% - 72px) / 4); 
}

.feature-title {
    margin-bottom: 8px; 
}

.header {
    border-bottom: 1px solid #e7e9fc; 
}

.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 1158px; 
    margin: 0 auto;
    padding: 0 15px; 
}

.header-nav {
    display: flex; 
    align-items: center; 
}

.menu {
    display: flex; 
    gap: 40px; 
}


