@import url('https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css');

img {
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
	color: #434455;
    text-decoration: none;
    font-style: normal;
}

ul, ol { 
    list-style: none; 
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    color: #434455
}

.contact:hover,

.contact:focus {
    color: #404bbf;
}

.list {
    list-style-type: none;
    text-decoration: none;
}

.address {
    font-style: normal;
}

.link:hover {color: #404bbf;}
.link:focus {color: #404bbf;}


.link:active {
    text-decoration: underline;
    color: #404bbf;
}

.section-one {
    background: #2e2f42;
}

.head {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.button-class {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}
    
.button-class:hover,

.button-class:focus {
    background-color: #404BBF;
}

.section-second-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.section-second {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;  
}

.section-third {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    background: #f4f4fd;
}

.teatle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team {
    background: #fff;
    color: #2e2f42;
}

.people {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.whoiswho {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.section-fourth {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
}

.portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.footer {
    background: #2e2f42;
}

.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.header {
    border-bottom: 1px solid #e7e9fc; 
}

.header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 1158px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.header-nav {
    display: flex; 
    align-items: center; 
}

.menu {
    display: flex; 
    gap: 40px; 
}

.header-address {
    display: flex; 
    gap: 40px; 
}

